.myAdsWrapper {
  margin: 1.5rem 3rem;
}
.myAdsListWrapper {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 590px) {
  .myAdsListWrapper {
    flex-direction: column;
  }
}
