.topbar {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: #f7f8ff;
  padding: 0.9rem 3rem;
}
.heading {
  display: flex;
  justify-content: center;
}
.formWrapper {
  margin: 1.5rem 3rem;
  padding-bottom: 1rem;
  border: 1px solid rgba(0, 47, 52, 0.36);
}
.allInputsWrapper {
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
}
/* .formItem {
  padding: 0.5rem 3rem;
  text-align: center;
} */
.signupButton {
  cursor: pointer;
  color: blue;
  text-align: center;
}

.name {
  display: flex;
  justify-content: space-between;
}
.formFooter {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo {
  cursor: pointer;
}
.error {
  color: red;
  padding: 0 3rem;
  text-align: center;
}
