.cardContentHeader {
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  gap: 10px;
}

.locationContainer {
  display: flex;
  align-items: center;
}
.cardContentFooter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.actions {
  display: flex;
}
